<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>jobbot</h1>
        <nav>

            <button class="burger-menu-btn" type="button">☰</button>

            <a class="hori-menu-link" href="/foretag">Företag</a>
            <a class="hori-menu-link" href="/arbetssokande">Arbetssökande</a>
            <a class="hori-menu-link" href="/frilansare">Frilansare</a>
            <a class="hori-menu-link" href="/kunder">Kunder</a>
            <a class="hori-menu-link" href="/sa-fungerar-det">Så fungerar det</a>
            <a class="hori-menu-link" href="/logga-in">Logga in</a>
            <a class="hori-menu-link" href="/registrera-dig">Registrera dig</a>

            <a class="burger-menu-link" href="/foretag">Företag</a>
            <a class="burger-menu-link" href="/arbetssokande">Arbetssökande</a>
            <a class="burger-menu-link" href="/frilansare">Frilansare</a>
            <a class="burger-menu-link" href="/kunder">Kunder</a>
            <a class="burger-menu-link" href="/sa-fungerar-det">Så fungerar det</a>
            <a class="burger-menu-link" href="/logga-in">Logga in</a>
            <a class="burger-menu-link" href="/registrera-dig">Registrera dig</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div class="four-col-col">
            <h3>Jobbot</h3>
            <ul>
                <li><a href="/faq">F.A.Q.</a></li>
                <li><a href="/investor-relations">Investor Relations</a></li>
                <li><a href="/press">Press</a></li>
            </ul>
        </div>
        <div class="four-col-col">
            <h3>Villkor</h3>
            <ul>
                <li><a href="/allmana-villkor">Allmäna villkor</a></li>
                <li><a href="/avgifter">Avgifter</a></li>
                <li><a href="/forsakringar">Försäkringar</a></li>
                <li><a href="/inkasso">Inkasso</a></li>
            </ul>
        </div>
        <div class="four-col-col">
            <h3>Kontakta oss</h3>
            <ul>
                <li><a href="/kontakta-oss">Kontakta oss</a></li>
                <li><a href="/medarbetare">Medarbetare</a></li>
            </ul>
        </div>
        <div class="four-col-col">
            <h3>Våra partners</h3>
            <ul>
                <li><a href="/en-partner">En partner</a></li>
                <li><a href="/en-till-partner">En partner till</a></li>
                <li><a href="/en-tredje-partner">En trejde partner</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>