<section id="foretag">
    <h2>Din allt-i-ett lösning för bemanning</h2>
    <div class="card-container">
        <div class="feature-card">
            <h2>Hitta</h2>
            <!-- looking glass SVG -->
        </div>
        <div class="feature-card">
            <h2>Rekrytera</h2>
            <!-- looking glass SVG -->
        </div>
        <div class="feature-card">
            <h2>Administrera</h2>
            <!-- looking glass SVG -->
        </div>
    </div>
</section>