<article>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed eos itaque omnis possimus consequuntur facere
        excepturi delectus soluta voluptatem, nemo fuga? Autem assumenda molestiae eos necessitatibus, totam minima
        corporis quia?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eveniet maxime saepe nostrum molestiae laborum
        tempora sunt atque. Asperiores deserunt amet ullam culpa cumque officia animi vel reiciendis minus quam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consequatur eaque saepe ipsum voluptates fugit
        laudantium corporis minima eligendi aut tenetur esse laborum aliquid architecto voluptas exercitationem,
        sapiente, ex est.</p>
</article>