:root {
  --light-shades-clr: #f1f8f7;
  --light-accent-clr: #94b1ef;
  --main-brand-clr: #d9484b;
  --dark-accent-clr: #f4b616;
  --dark-shades-clr: #2d3b69;
}

* {
  margin: 0px;
  border: 0px #000 none;
  padding: 0px;
}

html,
body {
  height: 100vh;
}

body {
  background: var(--light-shades-clr);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
  background: var(--light-accent-clr);
  border-bottom: 2px solid var(--dark-accent-clr);
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
}

footer {
  background: var(--dark-shades-clr);
  border-top: 2px solid var(--light-accent-clr);
  color: var(--light-shades-clr);
  display: flex;
  flex-shrink: 0;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

footer a {
  color: var(--light-shades-clr);
  text-decoration: none;
}

footer a:hover {
  color: var(--light-accent-clr);
  text-decoration: underline;
}

footer a:focus {
  color: var(--light-accent-clr);
  text-decoration: underline;
}

h1 {
  color: var(--main-brand-clr);
  font-size: 2em;
  font-family: "Coda Caption", sans-serif;
  margin: 1em;
  font-style: italic;
  -webkit-text-stroke: 1px var(--dark-accent-clr);
  text-shadow: 2px 2px var(--dark-shades-clr);
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

p {
  max-width: 50ch;
  line-height: 1.4;
}

p + p {
  text-indent: 4ch;
}

li {
  list-style: none;
}

.hori-menu-link {
  color: var(--dark-shades-clr);
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}

.hori-menu-link:hover {
  color: var(--dark-accent-clr);
}

.hori-menu-link:focus {
  color: var(--dark-accent-clr);
}

.burger-menu-link {
  display: none;
}

.burger-menu-btn {
  display: inline-block;
}

#foretag {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  color: var(--dark-shades-clr);
}

#foretag > h2 {
  text-align: center;
  width: 100%;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.feature-card {
  background: var(--light-accent-clr);
  margin: 8px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex: 0 0 256px;
  height: 256px;
  transition: background 0.5s, color 0.5s;
}

.feature-card:hover {
  background: var(--main-brand-clr);
  color: var(--dark-accent-clr);
}

form {
  background-color: var(--dark-shades-clr);
  color: var(--light-shades-clr);
  padding: 4px;
  margin: 0px;
}

label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  width: 142px;
  border: 1px solid var(--dark-shades-clr);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  display: block;
  background: var(--main-brand-clr);
  border: 1px solid var(--dark-shades-clr);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light-shades-clr);
  padding: 4px 8px;
  margin-top: 4px;
}

@media (min-width: 600px) {
  .hori-menu-link {
    display: inline-block;
    margin: 1em;
  }
  .burger-menu-link {
    display: none;
  }
  .burger-menu-btn {
    display: none;
  }
}
